<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

	<selenium>
		<!--
		<browser name="Firefox" browser="*firefox" />
		<browser name="Internet Explorer" browser="*iexplore" />
		<browser name="Googlechrome" browser="*googlechrome" />
		-->
		<browser name="Googlechrome" browser="*googlechrome" />
	</selenium>

</phpunit>